<h2>Users</h2>
<p>image</p>
<p>name</p>

<% @users.each do |user| %>
  <div>
  <% if user.image.attached? %>
    <%= image_tag user.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'noimage.jpg', size: "100x100" %>
  <% end %>
    <%= link_to user.name, user_path(user) %>
  </div>
<% end %>