<% if @users.present? %>

<h2>User search results</h2>

<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>follows</th>
      <th>followers</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @users.any? %>
      <%= render @users %>
    <% else %>
      <tr>
        <td colspan="5">ユーザーが見つかりません</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<% if @books.present? %>

<h2>Book search results</h2>

  <% if params[:tag].present? %>
    <h3>タグ検索: <%= params[:tag] %></h3>
  <% end %>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Tag</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @books %>
  </tbody>
</table>

<% end %>


